{% extends "fips/base.html" %}
{% load staticfiles %}

{% block title %}Login{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
function toggleSign() {
  $("form").animate({height: "toggle", opacity: "toggle"}, "slow");
}
</script>
{% endblock css %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class="login-page">
 <div class="form">
 <form class="register-form" method='post'>
   {% csrf_token %}
   <input id='id_username' name='username' placeholder="username" type="text" autofocus="" required />
   <input id='id_password' name='password' placeholder="password" type="password" required />
   <input id='id_email' name='email' placeholder="abc@example.com" type="email" required />
   <input id='id_referrer' name='referrer' placeholder="referrer1-referrer2-referrer3" type="text" required />
   <button type="submit" value='Create'>create</button>
   <input type="hidden" name="next" value="{% url 'login' %}" />
   <p class="message">Already registered?
   <a href="#" onClick="toggleSign();">Sign In</a></p>
 </form>
 <form class="login-form" method="post" action="{% url 'login' %}">
   {% csrf_token %}
   <input id='id_username' name='username' placeholder="username" type="text" autofocus="" required />
   <input id='id_password' name='password' placeholder="password" type="password" required />
   <button type="submit" value='Log in'>login</button>
   <input type="hidden" name="next" value="{% url 'main' %}" />
   <p class="message">Not registered?
   <a href="javascript:toggleSign();">Create an account</a></p>
 </form>
 </div>
</div>
{% endblock %}
