.date {
    color: #828282;
}

.author, th, .category {
  color: black;
  text-align: center;
}

th, td {
    padding: 5px;
}

table, th, td {
    border: 1px solid black;
}

.categories {
  float: left;
  padding: 10px 10px 10px 30px;
}

.posts {
  text-align: left;
  display: inline-block;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.top-menu{
    color: #ffffff;
    float: right;
    font-size: 14pt;
    margin-right: 20px;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}
