.pagination {
  position: absolute;
  right: 150px;
  bottom: 30px;
}

.date {
    color: #828282;
    width: 222px;
    text-align: center;
}

.author, th, .category {
  color: black;
  text-align: center;
}

.author {
  width: 200px;
}

.title {
  width: 400px;
}

.category {
  width: 100px;
}

th, td {
    padding: 5px;
}

table, th, td {
    border: 1px solid black;
}

.categories {
  float: left;
  padding: 10px 10px 10px 30px;
  text-align: center;
}

.posts {
  text-align: left;
  display: inline-block;
  padding: 10px 0px 0px 100px;
}

.post {
  margin-top: 30px;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-left: 200px;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.top-menu{
    color: #ffffff;
    float: right;
    font-size: 14pt;
    margin-right: 20px;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}
