<!DOCTYPE html>
<html>
  <head>
    {% block title %}
    <title>Fish and Chips</title>
    {% endblock title %}

    {% block css %}
    {% endblock %}

    {% block header-content %}
    {% endblock %}
  </head>
  <body>
    <div>
	     {% block content %}
	     {% endblock %}
    </div>
    <footer style="position:absolute; width:98%; bottom:0; padding-left: 10px;">
      {% block footer %}
        <div class="copyright">
          <p>
            <span style="color:black; float:right;">Copyright &copy; 2017 FishandChips. All rights reserved.</span>
            <span class='poweredby' style="color:black; float: left;"> Powered by &nbsp;
                <a href="https://github.com/csddochi/fishandchips">FishNChips</a>
            </span>
          </p>
        </div>
      {% endblock %}
    </footer>
  </body>
</html>
