{% extends "fips/base.html" %}
{% load staticfiles %}

{% block title %}
<title>File Board</title>
{% endblock title %}
<meta name="robots" content="noindex, nofollow" />
{% block css %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
{% endblock %}

{% block header-content %}
<div class="page-header">
  {% if user.is_authenticated %}
  <a href="{% url 'upload_new' %}" class="top-menu"><span class="glyphicon glyphicon-paperclip"></span></a>
  <p class="top-menu">Hello {{ user.username }} <small><a href="{% url 'logout' %}">Logout</a></small></p>
  {% endif %}
  {% if user.is_staff %}
  <a href="/admin" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
  {% endif %}
  <h1><a href="/main">Fish and Chips</a></h1>
</div>
{% endblock %}

{% block content %}
<div class='categories'>
  {% for category in categories %}
    <h3><a href="{% url category.slug %}">{{ category.category_name }}</h3>
  {% endfor %}
</div>
<div class="posts">
  <table style="min-width:110%">
    <tr>
      <th class='number'>Number</th>
      <th class='title'>Title</th>
      <th class='author'>Author</th>
      <th class='hits'>Hits</th>
      <th>Published date</th>
    </tr>
    {% for upload in uploads %}
    <tr>
      <td class='number'>{{ upload.id }}</td>
      <td class='title'><a href="{% url 'upload_detail' pk=upload.pk %}">{{ upload.title }}</a></td>
      <td class='author'>{{ upload.author }}</td>
      <td class='hits'>{{ upload.hits }}</td>
      <td class="date">{{ upload.published_date }}</td>
    </tr>
  {% endfor %}
</table>
<div class="pagination" style="bottom:10px;">
    <span class="step-links">
        {% if uploads.has_previous %}
            <a href="?page={{ uploads.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ uploads.number }} of {{ uploads.paginator.num_pages }}.
        </span>

        {% if uploads.has_next %}
            <a href="?page={{ uploads.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}
