{% extends "fips/base.html" %}
{% load staticfiles %}

{% block title %}
<title>Main page</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/fips.css' %}">
{% endblock %}

{% block header-content %}
<ul id="menu">
{% block header-menu-list %}
{% if user.is_authenticated %}
  <li>Welcome! {{ user.get_username }}</li>
    {% if user.is_superuser %}
      <li><a href="/admin/">Admin</a></li>
    {% endif %}
  <li><a href="{% url 'login' %}">Logout</a></li>
{% endif %}
{% endblock %}
</ul>
{% endblock %}

{% block content %}
<h1>Success for Login!</h1>
{% endblock %}
