{% extends 'fips/main.html' %}
{% load staticfiles %}

{% block title %}
<title>Post page</title>
{% endblock title %}
<meta name="robots" content="noindex, nofollow" />
{% block css %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
.copyright {
   background: auto;
   padding: 5px 5px 10px 10px;
   height: 30px;
   position: relative;
   bottom: 0;
   width: 98%;
 }

.poweredby {
  float: left;
}
</style>
{% endblock %}

{% block content %}
  <div class='categories'>
      {% for category in categories %}
        <h3><a href="{% url category.slug %}">{{ category.category_name }}</h3>
      {% endfor %}
  </div>
  <div class="post" style="height:100%">
    {% if post.author == user %}
    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    {% endif %}
    {% if user.is_staff %}
  <a href="/admin" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
  {% endif %}
    <h4 style="text-align: center;">{{ post.title }}</h4>
    {% if post.published_date %}
        <div class="date" style="float: right;">
            {{ post.published_date }}
        </div>
    {% endif %}
        <p>Number: {{ post.pk }} &emsp; Hits: {{ post.hits }}</p>

        {% if post.author == user or user.is_staff or user.is_superuser%}
        <p>Author: {{ post.author }}</p>
        {% endif %}

        <p style="color: black;">{{ post.text|linebreaksbr }}</p>
  </div>
  <div class="page-button" style="position:absolute; bottom:30px; right: 30px; padding: 1rem;">
    {% if post.get_prev_post %}
    <button type="button" style="width:70px">
      <a href="{% url 'post_detail' pk=post.get_prev_post.pk %}">Previous</a>
    </button>
    {% else %}
    <button type="button" style="width:70px" disabled='disabled'>Previous</button>
    {% endif %}
    <button type="button" style="width:70px">
      <a href="{% url 'main' %}?page=1">List</a>
    </button>
    {% if post.get_next_post %}
    <button type="button" style="width:70px">
      <a href="{% url 'post_detail' pk=post.get_next_post.pk %}">Next</a>
    </button>
    {% else %}
    <button type="button" style="width:70px" disabled='disabled'>Next</button>
    {% endif %}
  </div>

<div class='post'>
  <hr>
  {% if post.get_subj_name == 'Free Board' %}
    <a class="btn btn-default" href="{% url 'add_image_comment' pk=post.pk %}">Add image comment</a>
    {% for image_comment in post.image_comments.all %}
      {% if user.is_authenticated or image_comment.approved_comment %}
       <div class="comment">
        <div class="date" style="float: right;">{{ image_comment.created_date }}</div>
        {% if not image_comment.approved_comment %}
          <a class="btn btn-default" href="{% url 'image_comment_remove' pk=image_comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
          <a class="btn btn-default" href="{% url 'image_comment_approve' pk=image_comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
        {% endif %}
        <strong>{{ image_comment.author }}</strong><br>
        <br><img src={{ image_comment.image.url }} style="max-width: 400px; max-height: 300px">
        <p>{{ image_comment.text|linebreaks }}</p>
      </div>
      {% endif %}
      {% empty %}
      <p>No comments here yet :(</p>
    {% endfor %}
  {% else %}
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
      {% if user.is_authenticated or comment.approved_comment %}
       <div class="comment">
        <div class="date" style="float: right;">{{ comment.created_date }}</div>
        {% if not comment.approved_comment %}
          <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
          <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
        {% endif %}
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
      </div>
      {% endif %}
      {% empty %}
      <p>No comments here yet :(</p>
    {% endfor %}
  {% endif%}
</div>
{% endblock %}
